.ui-first {
    border: 2px solid black;
   min-width:  98%;
    min-height: 85vh;
    border-radius: 8px;
    box-shadow:
    0 0 5px #0ff,
    0 0 8px rgb(243, 255, 112),
    0 0 6px #0ff;
    overflow-x: hidden; 
    overflow-y: auto;

}
.createUser{
    position: relative;

}


/*  */
/* For Button hover effect-- */
.btn-hover-effect{

    transition: transform 0.2s ease,box-shadow 0.2s ease    ;
}

.btn-hover-effect:hover{

    transform:scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0, 0, 0.2);
}

.btn-hover-effects{
    transition: transform 0.2s ease,box-shadow 0.2s ease;
}

.btn-hover-effects:hover{

    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 255, 183, 0.2);


}
/* ----------------------------- */

@keyframes fadeIn {

    from{
        opacity: 0;
        visibility: visible;
    }
    to {
        opacity: 1;
    }
    
}


.fade-wrapper{

    opacity: 0;

    animation-duration : 0.5s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;

}
.fade-in{

    animation: fadeIn 0.3s ease-in-out forwards;


}
